.venv/
.vscode/
__pycache__/
*.pyc
instance/
tests/__pycache__/
test/__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
pytest_cache/
.pytest_cache/
hypothesis/
.ipynb_checkpoints
.pyre/
source/*
build/
dist/
.eggs/
*.egg-info/
.eggs
pip-wheel-metadata/
__pypackages__/
*.manifest
*.ipynb
*.txt
